<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>MagicShop</title>
        <!-- Loading static files-->
        {% load staticfiles %}
        <!-- Bootstrap core CSS
            ================================================== -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Custom styles for this template
            ================================================== -->
        <link href="{% static 'uikit/css/uikit.css' %}" rel="stylesheet">
    </head>
    <body class="tile-1-bg">
        <!-- Page Wrapper
            ++++++++++++++++++++++++++++++++++++++++++++ -->
        <div class="page-wrapper boxed-wrapper shadow">
            <!-- Header Block
                ============================================== -->
            <header class="header-block line-top">
                <!-- Main Header
                    ............................................ -->
                <div class="main-header container">
                    <!-- Header Cols -->
                    <div class="header-cols">
                        <!-- Brand Col -->
                        <div class="brand-col hidden-xs">
                            <!-- vcenter -->
                            <div class="vcenter">
                                <!-- v-centered -->               
                                <div class="vcenter-this">
                                    <a href="index.html">
                                    <img src="/static/images/logo.png" alt="HELENA">
                                    </a>
                                </div>
                                <!-- v-centered -->
                            </div>
                            <!-- vcenter -->
                        </div>
                        <!-- /Brand Col -->
                        <!-- Right Col -->
                        <div class="right-col">
                            <!-- vcenter -->
                            <div class="vcenter">
                                <!-- v-centered -->
                                <div class="vcenter-this">
                                    <!-- Nav Side -->
                                    <nav class="nav-side navbar hnav hnav-sm hnav-borderless" role="navigation">
                                        <!-- Dont Collapse -->
                                        <div class="navbar-dont-collapse no-toggle">
                                            <!-- Nav Right -->
                                            <ul class="nav navbar-nav navbar-right case-u active-bcolor navbar-center-xs">
                                                <li class="dropdown has-panel">
                                                    <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-left ti ti-user"></i><span class="hidden-sm">sign in</span><i class="fa fa-angle-down toggler hidden-xs"></i></a>
                                                    <!-- Dropdown Panel -->
                                                    <div class="dropdown-menu dropdown-panel arrow-top dropdown-left-xs" data-keep-open="true">
                                                        <fieldset>
                                                            <form>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                                                        <input class="form-control" placeholder="Email" type="email">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                                        <input class="form-control" placeholder="Password" type="password">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="checkbox-inline"><input value="" type="checkbox">Remember me </label>
                                                                </div>
                                                                <button class="btn btn-primary btn-block">sign in</button>
                                                            </form>
                                                        </fieldset>
                                                    </div>
                                                    <!-- /Dropdown Panel -->
                                                </li>
                                                <li class="dropdown has-panel">
                                                    <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-left ti ti-pencil-alt"></i><span class="hidden-sm">sign up</span><i class="fa fa-angle-down toggler hidden-xs"></i></a>
                                                    <!-- Dropdown Panel -->
                                                    <div class="dropdown-menu dropdown-panel arrow-top" data-keep-open="true">
                                                        <fieldset>
                                                            <form>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                                                        <input class="form-control" placeholder="Email" type="email">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                                        <input class="form-control" placeholder="Password" type="password">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                                        <input class="form-control" placeholder="Repeat Password" type="password">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="checkbox-inline"><input value="" type="checkbox">I accept the terms and conditions.</label>
                                                                </div>
                                                                <button class="btn btn-primary btn-block">sign up</button>
                                                            </form>
                                                        </fieldset>
                                                    </div>
                                                    <!-- /Dropdown Panel -->
                                                </li>
                                            </ul>
                                            <!-- /Nav Right-->
                                        </div>
                                        <!-- /Dont Collapse -->
                                    </nav>
                                    <!-- /Nav Side -->
                                </div>
                                <!-- /v-centered -->
                            </div>
                            <!-- /vcenter -->
                        </div>
                        <!-- /Right Col -->
                        <!-- Left Col -->
                        <div class="left-col">
                            <!-- vcenter -->
                            <div class="vcenter">
                                <!-- v-centered -->               
                                <div class="vcenter-this">
                                    <form class="header-search">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="SEARCH" type="text">
                                            <button class="btn btn-empty"><i class="fa fa-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <!-- v-centered -->
                            </div>
                            <!-- vcenter -->
                        </div>
                        <!-- /Left Col -->
                    </div>
                    <!-- Header Cols -->
                </div>
                <!-- /Main Header
                    .............................................. -->
                <!-- Nav Bottom
                    .............................................. -->
                <nav class="nav-bottom hnav hnav-ruled white-bg boxed-section">
                    <!-- Container -->
                    <div class="container">
                        
                        <!-- Collapse -->
                        <div class="collapse navbar-collapse navbar-absolute">
                            <!-- Navbar Center -->
                            <ul class="nav navbar-nav navbar-center line-top line-pcolor case-c">>
                                <li class="dropdown">
                                <div class="form-group  class="text-center"">
                                    <label for="set_name">Set name:</label>
                                        <select class="form-control" id="set_name">
                                            <option value="">All sets</option>
                                            <option value="Aether Revolt">Aether Revolt</option>
                                            <option value="Alara Reborn">Alara Reborn</option>
                                            <option value="Alliances">Alliances</option>
                                            <option value="Antiquities">Antiquities</option>
                                            <option value="Apocalypse">Apocalypse</option>
                                            <option value="Arabian Nights">Arabian Nights</option>
                                            <option value="Archenemy">Archenemy</option>
                                            <option value="Avacyn Restored">Avacyn Restored</option>
                                            <option value="Battle for Zendikar">Battle for Zendikar</option>
                                            <option value="Battle Royale Box Set">Battle Royale Box Set</option>
                                            <option value="Beatdown Box Set">Beatdown Box Set</option>
                                            <option value="Betrayers of Kamigawa">Betrayers of Kamigawa</option>
                                            <option value="Born of the Gods">Born of the Gods</option>
                                            <option value="Champions of Kamigawa">Champions of Kamigawa</option>
                                            <option value="Chronicles">Chronicles</option>
                                            <option value="Classic Sixth Edition">Classic Sixth Edition</option>
                                            <option value="Coldsnap">Coldsnap</option>
                                            <option value="Commander 2013 Edition">Commander 2013 Edition</option>
                                            <option value="Commander 2014">Commander 2014</option>
                                            <option value="Commander 2015">Commander 2015</option>
                                            <option value="Commander 2016">Commander 2016</option>
                                            <option value="Commander's Arsenal">Commander's Arsenal</option>
                                            <option value="Conflux">Conflux</option>
                                            <option value="Conspiracy: Take the Crown">Conspiracy: Take the Crown</option>
                                            <option value="Dark Ascension">Dark Ascension</option>
                                            <option value="Darksteel">Darksteel</option>
                                            <option value="Dissension">Dissension</option>
                                            <option value="Dragon's Maze">Dragon's Maze</option>
                                            <option value="Dragons of Tarkir">Dragons of Tarkir</option>
                                            <option value="Duel Decks Anthology, Divine vs. Demonic">Duel Decks Anthology, Divine vs. Demonic</option>
                                            <option value="Duel Decks Anthology, Elves vs. Goblins">Duel Decks Anthology, Elves vs. Goblins</option>
                                            <option value="Duel Decks Anthology, Garruk vs. Liliana">Duel Decks Anthology, Garruk vs. Liliana</option>
                                            <option value="Duel Decks Anthology, Jace vs. Chandra">Duel Decks Anthology, Jace vs. Chandra</option>
                                            <option value="Duel Decks: Ajani vs. Nicol Bolas">Duel Decks: Ajani vs. Nicol Bolas</option>
                                            <option value="Duel Decks: Blessed vs. Cursed">Duel Decks: Blessed vs. Cursed</option>
                                            <option value="Duel Decks: Divine vs. Demonic">Duel Decks: Divine vs. Demonic</option>
                                            <option value="Duel Decks: Elspeth vs. Kiora">Duel Decks: Elspeth vs. Kiora</option>
                                            <option value="Duel Decks: Elspeth vs. Tezzeret">Duel Decks: Elspeth vs. Tezzeret</option>
                                            <option value="Duel Decks: Elves vs. Goblins">Duel Decks: Elves vs. Goblins</option>
                                            <option value="Duel Decks: Garruk vs. Liliana">Duel Decks: Garruk vs. Liliana</option>
                                            <option value="Duel Decks: Heroes vs. Monsters">Duel Decks: Heroes vs. Monsters</option>
                                            <option value="Duel Decks: Izzet vs. Golgari">Duel Decks: Izzet vs. Golgari</option>
                                            <option value="Duel Decks: Jace vs. Chandra">Duel Decks: Jace vs. Chandra</option>
                                            <option value="Duel Decks: Jace vs. Vraska">Duel Decks: Jace vs. Vraska</option>
                                            <option value="Duel Decks: Knights vs. Dragons">Duel Decks: Knights vs. Dragons</option>
                                            <option value="Duel Decks: Mind vs. Might">Duel Decks: Mind vs. Might</option>
                                            <option value="Duel Decks: Nissa vs. Ob Nixilis">Duel Decks: Nissa vs. Ob Nixilis</option>
                                            <option value="Duel Decks: Phyrexia vs. the Coalition">Duel Decks: Phyrexia vs. the Coalition</option>
                                            <option value="Duel Decks: Sorin vs. Tibalt">Duel Decks: Sorin vs. Tibalt</option>
                                            <option value="Duel Decks: Speed vs. Cunning">Duel Decks: Speed vs. Cunning</option>
                                            <option value="Duel Decks: Venser vs. Koth">Duel Decks: Venser vs. Koth</option>
                                            <option value="Duel Decks: Zendikar vs. Eldrazi">Duel Decks: Zendikar vs. Eldrazi</option>
                                            <option value="Eighth Edition">Eighth Edition</option>
                                            <option value="Eldritch Moon">Eldritch Moon</option>
                                            <option value="Eternal Masters">Eternal Masters</option>
                                            <option value="Eventide">Eventide</option>
                                            <option value="Exodus">Exodus</option>
                                            <option value="Fallen Empires">Fallen Empires</option>
                                            <option value="Fate Reforged">Fate Reforged</option>
                                            <option value="Fifth Dawn">Fifth Dawn</option>
                                            <option value="Fifth Edition">Fifth Edition</option>
                                            <option value="Fourth Edition">Fourth Edition</option>
                                            <option value="From the Vault: Angels">From the Vault: Angels</option>
                                            <option value="From the Vault: Annihilation (2014)">From the Vault: Annihilation (2014)</option>
                                            <option value="From the Vault: Dragons">From the Vault: Dragons</option>
                                            <option value="From the Vault: Exiled">From the Vault: Exiled</option>
                                            <option value="From the Vault: Legends">From the Vault: Legends</option>
                                            <option value="From the Vault: Lore">From the Vault: Lore</option>
                                            <option value="From the Vault: Realms">From the Vault: Realms</option>
                                            <option value="From the Vault: Relics">From the Vault: Relics</option>
                                            <option value="From the Vault: Twenty">From the Vault: Twenty</option>
                                            <option value="Future Sight">Future Sight</option>
                                            <option value="Gatecrash">Gatecrash</option>
                                            <option value="Guildpact">Guildpact</option>
                                            <option value="Homelands">Homelands</option>
                                            <option value="Ice Age">Ice Age</option>
                                            <option value="Innistrad">Innistrad</option>
                                            <option value="Invasion">Invasion</option>
                                            <option value="Journey into Nyx">Journey into Nyx</option>
                                            <option value="Judgment">Judgment</option>
                                            <option value="Kaladesh">Kaladesh</option>
                                            <option value="Khans of Tarkir">Khans of Tarkir</option>
                                            <option value="Legends">Legends</option>
                                            <option value="Legions">Legions</option>
                                            <option value="Limited Edition Alpha">Limited Edition Alpha</option>
                                            <option value="Limited Edition Beta">Limited Edition Beta</option>
                                            <option value="Lorwyn">Lorwyn</option>
                                            <option value="Magic 2010">Magic 2010</option>
                                            <option value="Magic 2011">Magic 2011</option>
                                            <option value="Magic 2012">Magic 2012</option>
                                            <option value="Magic 2013">Magic 2013</option>
                                            <option value="Magic 2014 Core Set">Magic 2014 Core Set</option>
                                            <option value="Magic 2015 Core Set">Magic 2015 Core Set</option>
                                            <option value="Magic Origins">Magic Origins</option>
                                            <option value="Magic: The Gathering-Commander">Magic: The Gathering-Commander</option>
                                            <option value="Magic: The Gathering—Conspiracy">Magic: The Gathering—Conspiracy</option>
                                            <option value="Masterpiece Series: Kaladesh Inventions">Masterpiece Series: Kaladesh Inventions</option>
                                            <option value="Masters Edition">Masters Edition</option>
                                            <option value="Masters Edition II">Masters Edition II</option>
                                            <option value="Masters Edition III">Masters Edition III</option>
                                            <option value="Masters Edition IV">Masters Edition IV</option>
                                            <option value="Mercadian Masques">Mercadian Masques</option>
                                            <option value="Mirage">Mirage</option>
                                            <option value="Mirrodin">Mirrodin</option>
                                            <option value="Mirrodin Besieged">Mirrodin Besieged</option>
                                            <option value="Modern Event Deck 2014">Modern Event Deck 2014</option>
                                            <option value="Modern Masters">Modern Masters</option>
                                            <option value="Modern Masters 2015 Edition">Modern Masters 2015 Edition</option>
                                            <option value="Modern Masters 2017 Edition">Modern Masters 2017 Edition</option>
                                            <option value="Morningtide">Morningtide</option>
                                            <option value="Nemesis">Nemesis</option>
                                            <option value="New Phyrexia">New Phyrexia</option>
                                            <option value="Ninth Edition">Ninth Edition</option>
                                            <option value="Oath of the Gatewatch">Oath of the Gatewatch</option>
                                            <option value="Odyssey">Odyssey</option>
                                            <option value="Onslaught">Onslaught</option>
                                            <option value="Planar Chaos">Planar Chaos</option>
                                            <option value="Planechase">Planechase</option>
                                            <option value="Planechase 2012 Edition">Planechase 2012 Edition</option>
                                            <option value="Planechase Anthology">Planechase Anthology</option>
                                            <option value="Planeshift">Planeshift</option>
                                            <option value="Portal">Portal</option>
                                            <option value="Portal Second Age">Portal Second Age</option>
                                            <option value="Portal Three Kingdoms">Portal Three Kingdoms</option>
                                            <option value="Premium Deck Series: Fire and Lightning">Premium Deck Series: Fire and Lightning</option>
                                            <option value="Premium Deck Series: Graveborn">Premium Deck Series: Graveborn</option>
                                            <option value="Premium Deck Series: Slivers">Premium Deck Series: Slivers</option>
                                            <option value="Promo set for Gatherer">Promo set for Gatherer</option>
                                            <option value="Prophecy">Prophecy</option>
                                            <option value="Ravnica: City of Guilds">Ravnica: City of Guilds</option>
                                            <option value="Return to Ravnica">Return to Ravnica</option>
                                            <option value="Revised Edition">Revised Edition</option>
                                            <option value="Rise of the Eldrazi">Rise of the Eldrazi</option>
                                            <option value="Saviors of Kamigawa">Saviors of Kamigawa</option>
                                            <option value="Scars of Mirrodin">Scars of Mirrodin</option>
                                            <option value="Scourge">Scourge</option>
                                            <option value="Seventh Edition">Seventh Edition</option>
                                            <option value="Shadowmoor">Shadowmoor</option>
                                            <option value="Shadows over Innistrad">Shadows over Innistrad</option>
                                            <option value="Shards of Alara">Shards of Alara</option>
                                            <option value="Starter 1999">Starter 1999</option>
                                            <option value="Starter 2000">Starter 2000</option>
                                            <option value="Stronghold">Stronghold</option>
                                            <option value="Tempest">Tempest</option>
                                            <option value="Tempest Remastered">Tempest Remastered</option>
                                            <option value="Tenth Edition">Tenth Edition</option>
                                            <option value="The Dark">The Dark</option>
                                            <option value="Theros">Theros</option>
                                            <option value="Time Spiral">Time Spiral</option>
                                            <option value="Time Spiral &quot;Timeshifted&quot;">Time Spiral "Timeshifted"</option>
                                            <option value="Torment">Torment</option>
                                            <option value="Ugin's Fate promos">Ugin's Fate promos</option>
                                            <option value="Unglued">Unglued</option>
                                            <option value="Unhinged">Unhinged</option>
                                            <option value="Unlimited Edition">Unlimited Edition</option>
                                            <option value="Urza's Destiny">Urza's Destiny</option>
                                            <option value="Urza's Legacy">Urza's Legacy</option>
                                            <option value="Urza's Saga">Urza's Saga</option>
                                            <option value="Vanguard">Vanguard</option>
                                            <option value="Vintage Masters">Vintage Masters</option>
                                            <option value="Visions">Visions</option>
                                            <option value="Weatherlight">Weatherlight</option>
                                            <option value="Welcome Deck 2016">Welcome Deck 2016</option>
                                            <option value="Worldwake">Worldwake</option>
                                            <option value="Zendikar">Zendikar</option>
                                            <option value="Zendikar Expeditions">Zendikar Expeditions</option>
                                        </select>
                                    </div>
                                </li>
                            </ul>
                            <!-- /Navbar Center -->
                        </div>
                        <!-- /Collapse -->
                        <!-- Dont Collapse -->
                        <div class="navbar-dont-collapse">
                            <!-- Navbar btn-group -->
                            <div class="navbar-btn-group btn-group navbar-right no-margin-r-xs">
                                <!-- Btn Wrapper -->
                                <div class="btn-wrapper dropdown">
                                    <a class="btn btn-outline" data-toggle="dropdown"><i class="ti-plus"></i></a>
                                    <!-- Dropdown Menu -->
                                    <ul class="dropdown-menu">
                                        <li><a href="#">account home</a></li>
                                        <li><a href="#">order history</a></li>
                                        <li><a href="#">profile</a></li>
                                    </ul>
                                    <!-- /Dropdown Menu -->
                                </div>
                                <!-- /Btn Wrapper -->
                                <!-- Btn Wrapper -->
                                <div class="btn-wrapper dropdown">
                                    <a aria-expanded="false" class="btn btn-outline" data-toggle="dropdown"><b class="count count-scolor count-round">2</b><i class="ti ti-bag"></i></a>
                                    <!-- Dropdown Panel -->
                                    <div class="dropdown-menu dropdown-panel dropdown-right" data-keep-open="true">
                                        <section>
                                            <!-- Mini Cart -->
                                            <ul class="mini-cart">
                                                <!-- Item -->
                                                <li class="clearfix">
                                                    <img src="images/products/product1.jpg" alt="">
                                                    <div class="text">
                                                        <a class="title" href="#">Modern black hat</a>
                                                        <div class="details">
                                                            2 x $40.50
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary" href="#"><i class="fa fa-pencil"></i></a>
                                                                <a class="btn btn-default" href="#"><i class="fa fa-trash"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- /Item -->
                                                <!-- Item -->
                                                <li class="clearfix">
                                                    <img src="images/products/product2.jpg" alt="">
                                                    <div class="text">
                                                        <a class="title" href="#">Sexy lace blouse</a>
                                                        <div class="details">
                                                            1 x $95.00
                                                            <div class="btn-group">
                                                                <a class="btn btn-primary" href="#"><i class="fa fa-pencil"></i></a>
                                                                <a class="btn btn-default" href="#"><i class="fa fa-trash"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- /Item -->
                                            </ul>
                                            <!-- /Mini Cart -->
                                        </section>
                                        <section>
                                            <div class="row grid-10">
                                                <div class="col-md-6">
                                                    <a class="btn btn-base btn-block margin-y-5" href="cart.html">view cart</a>
                                                </div>
                                                <div class="col-md-6">
                                                    <a class="btn btn-primary btn-block margin-y-5" href="checkout.html">checkout</a>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <!-- /Dropdown Panel -->
                                </div>
                                <!-- /Btn Wrapper -->
                            </div>
                            <!-- /Navbar btn-group -->
                            <!-- Navbar Left -->
                            <ul class="nav navbar-nav navbar-left navbar-right-xs">
                                <li class="dropdown has-panel">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="img-left" alt="" src="images/flags/us.gif"><span>USD</span><i class="fa fa-angle-down toggler"></i></a>
                                    <!-- Dropdown Panel -->
                                    <div id="settings" class="dropdown-menu dropdown-panel" data-keep-open="true">
                                        <fieldset>
                                            <form>
                                                <div class="form-group">
                                                    <label>Language</label>
                                                    <select class="form-control">
                                                        <option>English</option>
                                                        <option>French</option>
                                                        <option>German</option>
                                                        <option>Spanish</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Currency</label>
                                                    <select class="form-control">
                                                        <option>US Dollar</option>
                                                        <option>Kenyan Shillings</option>
                                                        <option>TZ Shillings</option>
                                                        <option>British Pound</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="checkbox-inline"><input value="" type="checkbox">Remember settings </label>
                                                </div>
                                                <button class="btn btn-primary btn-block">change</button>
                                            </form>
                                        </fieldset>
                                    </div>
                                    <!-- /Dropdown Panel -->
                                </li>
                            </ul>
                            <!-- /Navbar Left -->
                        </div>
                        <!-- /Dont Collapse -->
                    </div>
                    <!-- /Container -->
                </nav>
                <!-- /Nav Bottom
                    .............................................. -->
            </header>
            <!-- /Header Block
                ============================================== -->
            <!-- Content Block
                ============================================== -->
            <div class="content-block">
                
                <!-- Container -->
                <div class="container no-pad-t">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Img</th>
                                <th>Exp.</th>
                                <th>Name</th>
                                <th>Available</th>
                                <th>Price</th>
                                <th>Add to cart</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">##</th>
                                <td>##</td>
                                <td>Blood Moon</td>
                                <td>4</td>
                                <td>39,99</td>
                                <td>##</td>
                            </tr>
                            <tr>
                                <th scope="row">##</th>
                                <td>##</td>
                                <td>Blood Moon</td>
                                <td>4</td>
                                <td>39,99</td>
                                <td>##</td>
                            </tr>
                            <tr>
                                <th scope="row">##</th>
                                <td>##</td>
                                <td>Blood Moon</td>
                                <td>4</td>
                                <td>39,99</td>
                                <td>##</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
            <!-- /Content Block
                ============================================== -->                
            <!-- Footer
                =================================================== -->
            <footer class="footer-block">
                <!-- Bottom -->
                <div class="footer-bottom invert-colors bcolor-bg">
                    <!-- Container -->
                    <div class="container">
                        <span class="copy-text">&copy; 2017 Snjallar Lausnir. </span>
                        <!-- hlinks -->
                        <ul class="hlinks pull-right">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Sign Up</a></li>
                        </ul>
                        <!-- /hlinks -->
                    </div>
                    <!-- /Container -->
                </div>
                <!-- /Bottom -->
            </footer>
            <!-- /Footer
                =================================================== -->
        </div>
        <!-- /Page Wrapper
            ++++++++++++++++++++++++++++++++++++++++++++++ -->
        <!-- Javascript
            ================================================== -->
        <script src="/static/uikit/js/jquery-latest.min.js"></script>
        <script src="/static/uikit/js/uikit.js"></script>
        <script src="/static/javascript/js.js"></script>
        <!-- /JavaScript
            ================================================== -->
    </body>
</html>